/* .container{
    margin-top: 50px;
} */

.container h4{
    margin-top: 30px;
    margin-bottom: 30px;

}


.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 4px;
    margin: 10px;
    margin-bottom: 20px;
}

.card-container .card-content{
    padding: 50px;
    background: black; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.card button{
    color: white;
    background-color:#EE5007 ;
    width: 100%;
    border: 0;
    padding: 10px;
}

.card button:hover{
    background-color:#a53602;
}


@media (max-width: 600px) {
    .card-container{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .card-container{
        display: flex;
        flex-direction: column;
    }
}